/* form {
	margin-top: 12em;
	width: 50em;
} */

.form-section {
	margin-left: 10em;
	margin-right: 10em;
	padding-top: 1.5em;
	display: flex;
	flex-direction: column;
	color: rgb(252, 252, 252);	
	background-color: rgba(255, 255, 255, 0.2);
	padding-left: 3em;
	padding-right: 3em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-section:nth-child(1) {
	padding-top: 3em;
}

 .form-body {
	flex-direction: column;
	margin-top: 13em;
	align-self: center;
	flex-wrap: wrap;
} 

.form-name {
	margin-top: 3em;
}

footer {
	margin-top: 2em;
}

.button-1 {
	max-width: 5em;
	margin-top: 1em;
	margin-bottom: 3em;
}

form input:valid{
	border: 3px solid green;
}

form input:invalid {
	border: 2px solid red;
}


@media (max-width: 947px) {
	.form-body {
		margin-top: 1em;
	}

	footer {
		margin-top: 1em;
	}
}

@media (max-width: 630px) {
	.form-section {
		min-width: 12em;
		margin-left: 2em;
		margin-right: 2em;
	}

}