.who-are-we {
	margin-top: 9em;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	align-self: center;
	font-size: x-large;
}

main {
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 4em;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}